<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>个人主页</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="content">
		<div class="register_header" style="height: 200px">
			<div class="personal">
				<div class="pl">
					<div class="head">
						<img src="/images/girl.png" alt="">
					</div>
					<div class="p_descr">
						<p>江疏影</p>
						<p>编号#10</p>
					</div>
				</div>
				<div class="pr">
					<div class="p_descr pr_descr">
						<p>1名</p>
						<p>20票</p>
					</div>
				</div>
				<div class="motto">
					谁能比我美？谁能比我美？
				</div>
			</div>
			<div class="home register">
				<a href="/vote/index">
					活动首页
				</a>
			</div>
		</div>
		<div class="register_content">
			<div class="vfriend">

			</div>
			<ul class="vflist coming">

			</ul>
		</div>
	</div>
</body>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/prefixfree.min.js"></script>
<script src="/javascripts/detail.js"></script>
</html>